table {
    width: 100%;
  }

  .rac-input {
    background-color: #f3f3f3;
    padding: 3px;
    padding-left: 6px;
    margin-bottom: 4px;
  }
  
  .rmb-1 {
    margin-bottom: 1rem; /* Adjust the padding value as needed */
  }