<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <a class="whitespace-nowrap text-primary-500">Interface</a>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <a class="ml-1 text-primary-500">Starwars</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Firebase
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="prose prose-sm max-w-3xl">
            <div class="container-wrapper">
                <div class="container">
                  <h2>Backlog</h2>
              
                  
                <!-- Introduction -->
                <table>
                    <thead>
                        <tr>
                        <th>Title</th>
                        <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let task of todo">
                        <td>{{ task.title }}</td>
                        <td>{{ task.description }}</td>
                        
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
